/* Estilos básicos y variables para ambos modos */
:root {
    --bg-color: #ffffff;  /* Fondo claro */
    --text-color: #333;   /* Texto oscuro */
    --section-bg-color: #f8f9fa;  /* Fondo de sección para modo claro */
}

@media (prefers-color-scheme: dark) {
    :root {
        --bg-color: #333; /* Fondo para modo oscuro */
        --text-color: #ccc; /* Texto para modo oscuro */
        --section-bg-color: #2c2c2c;  /* Fondo de sección para modo oscuro */
    }
}

/* Estilos básicos para cuerpo y HTML */
body, html {
    margin: 0;
    padding: 0;
    height: 100%;
    font-family: Arial, sans-serif;
    background-color: var(--bg-color);
    color: var(--text-color);
}

/* Encabezado principal y bienvenida */
.main-header {
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    height: 100vh;
    text-align: center;
    background-size: cover;
    background-position: center;
}

.main-header h1, .main-header p {
    text-shadow: 2px 2px 8px rgba(0, 0, 0, 0.7);
    margin: 0;
    padding: 0.5em 0;
    font-size: 2.5em;
}

/* Secciones de contenido */
section {
    margin: 40px auto;
    padding: 20px;
    max-width: 800px;
    background-color: var(--section-bg-color);
    color: var(--text-color);
    border-radius: 8px;
    box-shadow: 0 4px 8px rgba(0, 0, 0, 0.5);
}

section h2 {
    font-size: 1.8em;
    color: #00c6d7;
    margin-bottom: 15px;
}

section p {
    font-size: 1.1em;
    line-height: 1.6;
    margin-bottom: 10px;
}

/* Botones estilizados */
.button {
    padding: 10px 20px;
    background-color: #007bff;
    color: white;
    border-radius: 5px;
    cursor: pointer;
    transition: all 0.3s ease;
}

.button:hover {
    background-color: #0056b3;
    box-shadow: 0 0 8px rgba(255, 255, 255, 0.3);
}

/* Footer centrado */
footer {
    width: 100%;
    padding: 5px 0;
    background-color: var(--bg-color);
    color: var(--text-color);
    text-align: center;
    display: flex;
    justify-content: center;
    align-items: center;
    position: relative;
    bottom: 0;
    left: 0;
    box-shadow: 0 -4px 6px rgba(0, 0, 0, 0.1);
    font-size: 1em;
}
/* Navbar personalizada */
.navbar {
    width: 100%;
    position: absolute;
    top: 0;
    padding: 10px 20px;
    background-color: transparent; /* Fondo transparente */
    display: flex;
    align-items: center;
    justify-content: space-between;
}

.navbar-brand img {
    height: 50px; /* Ajusta el tamaño de la imagen del logo */
}

.navbar-nav .nav-link {
    color: var(--text-color); /* Uso de la variable de color de texto */
    margin-left: 20px;
    transition: color 0.3s ease; /* Transición suave al cambiar de color */
}

.navbar-nav .nav-link:hover, .navbar-nav .nav-link:focus {
    color: #00c6d7; /* Color brillante al hacer hover */
    text-decoration: none; /* Elimina la subrayado al hacer hover */
}
