body {
    font-family: Arial, sans-serif;
    background-size: cover;
    background-repeat: no-repeat;
    background-attachment: fixed;
    transition: background-image 0.5s, color 0.5s;
}

.navbar {
    transition: background-color 0.5s, color 0.5s;
}

.hero-section {
    height: 100vh;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    text-shadow: 2px 2px 4px rgba(0, 0, 0, 0.5);
}

.container {
    max-width: 1200px;
    margin: auto;
    padding: 20px;
}

footer {
    padding: 10px;
    text-align: center;
    transition: background-color 0.5s, color 0.5s;
}

/* Estilos para los temas claro y oscuro */
:root {
    --background-image-light: url('../img/AppaTecFondoClaro1-1.png');
    --background-image-dark: url('../img/AppaTecFondoOscuro1-3.png');
    --logo-image-light: url('../img/AppaTecLogoClaro1-2.png');
    --logo-image-dark: url('../img/AppaTecLogoOscuro1-4.png');
    --navbar-bg-light: #f8f9fa;
    --navbar-bg-dark: #343a40;
    --footer-bg-light: #f8f9fa;
    --footer-bg-dark: #343a40;
    --text-color-light: #000;
    --text-color-dark: #000000;
    --button-primary-light: #007bff;
    --button-primary-dark: #375a7f;
    --button-success-light: #28a745;
    --button-success-dark: #4caf50;
    --button-info-light: #17a2b8;
    --button-info-dark: #00c6d7;
}

body[data-theme="light"] {
    background-image: var(--background-image-light);
    color: var(--text-color-light);
}

body[data-theme="dark"] {
    background-image: var(--background-image-dark);
    color: var(--text-color-dark);
}

body[data-theme="light"] .navbar {
    background-color: var(--navbar-bg-light);
    color: var(--text-color-light);
}

body[data-theme="dark"] .navbar {
    background-color: var(--navbar-bg-dark);
    color: var(--text-color-dark);
}

body[data-theme="light"] footer {
    background-color: var(--footer-bg-light);
    color: var(--text-color-light);
}

body[data-theme="dark"] footer {
    background-color: var(--footer-bg-dark);
    color: var(--text-color-dark);
}

body[data-theme="light"] .btn-primary {
    background-color: var(--button-primary-light);
    border-color: var(--button-primary-light);
}

body[data-theme="dark"] .btn-primary {
    background-color: var(--button-primary-dark);
    border-color: var(--button-primary-dark);
}

body[data-theme="light"] .btn-success {
    background-color: var(--button-success-light);
    border-color: var(--button-success-light);
}

body[data-theme="dark"] .btn-success {
    background-color: var(--button-success-dark);
    border-color: var(--button-success-dark);
}

body[data-theme="light"] .btn-info {
    background-color: var(--button-info-light);
    border-color: var(--button-info-light);
}

body[data-theme="dark"] .btn-info {
    background-color: var(--button-info-dark);
    border-color: var(--button-info-dark);
}

#logo {
    height: 40px;
    transition: content 0.5s;
}
